<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poo-nuh-chee</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
  </head>
  <body>
    <header>
      <span>poo-nuh-chee</span>
      <nav class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Network</a></li>
          <li><a href="#"><img src="static/images/programmer.jfif" alt="profile-picture"></a></li>
        </ul>
      </nav>
    </header>

    <main>

      <aside>
        <div>
          <h3>Events</h3>
        </div>
      </aside>
    
    <div class="container">

      
      <div class="create-post">

        <div class="img-input">
          <img src="/static/images/programmer.jfif" alt="" class="profile-pic">
          <input name='content'type="text" placeholder="What is happening?!">
        </div>

        <div class="action-btns">
          <div class="post-icons">
            <img src="/static/images/gallery.png" alt="image-icon">
            <img src="/static/images/event.png" alt="schedule-icon">
          </div>

          <button class="post-btn">Post</button>
         
        </div>
        
      </div>

      <ul>
        <li>
          <div class="post">
            <div class="post-header">
              <img src="static/images/programmer.jfif" alt="profile-picture" class="profile-pic">
              <span class="post-username">poo-nuh-chee</span>
              <span class="post-time">3h</span>
            </div>

            <div class="post-content">
              <p>This is how the posts in poo-nuh-chee will look like. I need to design this and implement the logic behind this post before designing complex ui.</p>   
            </div>
            
            <div class="post-icons">
              <img src="static/images/comment.png" alt="comment-icon">
              <img src="static/images/repost.png" alt="retweet-icon">
              <img src="static/images/like.png" alt="like-icon">
              <img src="static/images/views.png" alt="view-icon">
              <img src="static/images/save.png" alt="save-icon">
            </div>
          
          </div>
        </li>
      </ul>


        
    </div>
    </main>
    
    
  </body>
</html>
